* {
  box-sizing: border-box;
}

@font-face {
  font-family: Aleo;
  src: url(/font/Aleo-Regular.otf);
}

table{
    background-color: green;
    width: 50px;
}

#right-panel {
   font-family: Aleo,'sans-serif';
   line-height: 30px;
   padding-left: 10px;
}

#right-panel select, #right-panel input {
   font-size: 15px;
}

#right-panel select {
   width: 100%;
}

#right-panel i {
   font-size: 12px;
}

#right-panel {
   float: right;
   width: 34%;
   height: 100%;
}

.orange{
  position: relative
}

#foodName {
  font-size: 2.5em
}

#logo {
  display: inline-block;
  max-width: 100%;
}

.logo-container {
  display: inline-block;
  width: 8%;
  object-fit: cover;
}

#logo img {
  width: 100%;
}

#logo:hover{
  cursor: pointer;
}

#nameTitle {
    display: inline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(5, 129, 5);
    font-size: 2rem;
    font-weight: bold;
    font-family: Aleo, sans-serif;
}

#question {
  padding-top: 4%;
}

.nav-wrapper {
  position: relative;
  border-bottom: 2px solid orange;
}

.nutrition {
  font-size: 1.2rem;
}

.nutrition > div:first-child {
  padding-left: 1%
}

.nutritionTitles > div {
  padding-right: 5%;
  padding-left: 5%;
}

@media only screen and (max-width: 800px) {
  #nameTitle {
    font-size: 1.5rem;
  }
  .container {
    width: 100%;
  }
  .container > .nav-wrapper {
    height: 9vh
  }
  #mapAndPic {
    text-align: center;
  }
  #question {
    text-align: center;
  }
  .logo-container {
    width: 10%;
    height: 100%;
  }
  #logo {
    max-height: 100%;
  }
}

@media only screen and (max-width: 635px) {
  .logo-container {
    width: 15%;
  }
}

#foodName {
  font-size: 3rem;
  font-family: Aleo, sans-serif;
}

#mapAndPic {
  width: 100%;
  margin-top: 1%;
}

#pic img{
  width: 60%;
}

.nutritionTitles {
  display: inline-block;
  width: 70%
}

.nutrition {
  margin-top: 5%;
}

.nutritionTitles {
  display: inline-block;
  width: 100%;
}

#map{
  height: 80vh;
  display: none;
}

#findMore {
  display: inline-block;
  background-color: rgb(13, 179, 13);
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px #999;
}

#findMore:hover {
  background-color: rgb(62, 197, 29);
}

#findMore:active, #reset:active, #goThere:active {
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

#reset {
  background-color: red;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px #999;
}

#goThere {
  background-color: green;
  border-radius: 10px;
  box-shadow: 0 3px #999;
}

#goThere:hover {
  background-color: rgb(1, 102, 1);
}

#reset:hover {
  background-color: rgb(190, 28, 16);
}

#findMore:hover {
  background-color: darkgreen;
}

.nutritionTitles .right-align {
  float: right;
}

.nutrition > div {
  border: 2px solid black;
}

.nutrition > div:nth-child(1) {
  font-weight: bold;
}

.nutritionTitles > div {
  border: 1px solid black;
}

.yelp {
  width: 90%;
}

#map {
  height: 50vh;
}

#yelpImage {
  height:100%;
  width: 100%;
  font-size:0;
}

.yelp > div {
  border: 2px solid black;
  margin-top: 10%;
}

.yelpTitle {
  font-weight: bold;
  border: 1.2px solid black;
  position: relative;
  bottom:0.75vw;
}

.yelpTitle, .yelpInfo {
  padding-left: 2%;
}

.yelpTitle > *  {
  line-height: 1.7rem;
}

.yelpInfo {
  margin-bottom: 3%;
}

.yelpTitle .name {
  font-family: Aleo, san-serif;
  font-size: 1.3rem;
  text-decoration: underline;
}

.direction-title {
  font-family: Aleo, san-serif;
  font-size: 1.1rem;
  /* text-decoration: underline; */
}

.openOrClosed {
  font-family: Aleo, sans-serif;
}

.modal {
  top: 10%;
  z-index: 1;
}

.modal-footer {
  margin-bottom: 20px !important;
}

.modal-footer > #mapCloseButton {
  margin-right: 16px;
}

.home-modal-button {
  margin: 11px 16px !important;
}

.adp table {
  width: 100%;
}

.adp-substep{
  color: white;
}

.error-message {
  font-size: 1.5rem;
}

#mapCloseButton {
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid orange;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media print { 
  .container { 
    display: none !important; 
  }
  #directionModal {
    position: relative;
    top: 0;
    left: 0;
    overflow: visible;
    width: 100%;
    height: 100%;
    color: black !important;
  }
}